* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Hud {
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 10; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Hud .ColumnOne {

}

.Hud .ColumnOne .BuildWithMe {
  height: 48px;
  width: 175px ;
  border-style: solid ;
  border-radius: 12px;
  border-color : rgba( 255 , 255 , 255 , 0.4);
  border-width : 1px ; 
  color: white;
  background-color:  black ; 
  font-family: Inter, sans-serif; 
  font-weight: 600;
  font-size: 16px;
  margin: 36px;
  opacity: 1; 
  transform: translateY(0px); 
  animation: fadeInTwo 4000ms cubic-bezier(0.070, 0.615, 0.235, 0.890) forwards;
  transition: background-color 0.3s; 
}

.Logo {
  height: 48px;
  margin: 24px;
  opacity: 1; 
  transform: translateY(0px); 
  animation: fadeInTwo 2000ms cubic-bezier(0.070, 0.615, 0.235, 0.890) forwards;
}

@keyframes fadeInTwo {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.Hud .ColumnOne .BuildWithMe:hover {
  /* background-color: red; */
}


.SocialsLink{
  z-index : 3 ; 
  height : 100% ; 
  width : 100% ; 
  display : flex ; 
  justify-content : center; 
  align-items : center ; 
  position : absolute;
  padding : 0px ; 
  margin : 0px
  background: rgba( 0, 0, 0, 0.03 );
  backdrop-filter  : blur(20.5px) ; 
  -webkit-backdrop-filter: blur( 13.5px );
  opacity : 0 ; 
  animation : fadeInSocials 300ms ease-in forwards; 
  flex-direction : row ; 
}

@keyframes fadeInSocials{
  to{
    opacity : 1 ; 
  }
}
.Card-Container{
  height : 100% ; 
  width : 100% ; 
  display : flex ; 
  flex-direction : row ; 
  justify-content : center; 
  align-items : center ; 
  gap : 32px ; 
  margin-bottom : 100px ; 
}

.HudContainer{
  display : flex ; 
  flex-direction : column ;
  align-items : center ; 
}

.return{
  position: fixed; 
  bottom: 20%; 
  left: 50%; 
  transform: translateX(-50%); 
  margin: 20px; 
  z-index: 10; 
  display: flex;
  justify-content: center; 
  height: 50px;
  width: 175px;
  border-style: none;
  border-radius: 30px;
  border-width: 1px;
  border-color : white ; 
  color: white; 
  background-color: rgba(0,0,0,0);
  font-family: Inter, sans-serif; 
  font-weight: 300;
  font-size: 18px; 
  opacity: 1; 
  display: flex;
  align-items: center; 
  justify-content: center; 

}

