$size : 300px ; 

.container {
  width : 100% ; 
  height: 100% ; 
  overflow : hidden ; 
}

.interactionContainer {
  width : 100%;
  height: 100%;
  z-index: 1; 
  overflow : hidden ; 
  position: absolute; 
  display: flex; 
  align-items: flex-end;
  justify-content: center;
}

.interactionPrompt {
  width : 128px;
  height: 48px;
  z-index: 1; 
  //background-color: red; 
  overflow : hidden ; 
  align-self: end;
  align-items: center;
  justify-content: center;
  position: absolute; 
  bottom: 128px; 
};

.interactionPNG {
  height: 100%; 
  width: 100%; 
  animation-duration: 0.7s; 
  animation-name: fade-in; 
}


@keyframes fade-in{
  from {
    opacity: 0% ; 
  }

  to {
    opacity: 100% ; 
  }
}
